<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <h1>@ViewBag.Title</h1>
        <div><a href="@Url.Action("Index", "Home")">Home</a></div>
    </header>

    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <footer>
        @Html.Partial("_ViewSwitcher")
    </footer>
</body>
</html>
